/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

.comments-title {
	@include font-size(3.6);
	font-weight: 900;
}

.comments-area > ol {
	list-style-type: none;
	margin: 2em 0;
	padding: 0;
}

ol.children { list-style-type: none; }

.comment-author {
	.avatar {
		display: block;
		float: left;
		margin-right: 20px;
		width: 50px;
	}
	.fn {
		font-family: $comment-heading-font-family;
		@include font-size(2);
		font-weight: 900;
	}
}

.comment-metadata {
	@include font-size(1.4);
}

.comment-meta { margin-bottom: 1em; }

.comment-content {
	font-size: 90%;
	a {
		word-wrap: break-word;
	}
	ol {
		margin-left: 1.5em;
	}
}

.comment-content,
.reply {
	margin-left: 70px; }

.comment-body {
	border-bottom: 1px solid #d4d0d0;
	margin-bottom: 2em;
	padding-bottom: 2em;
}

.comment-list ol { margin-left: 50px; }

.reply {
	font-family: $comment-heading-font-family;
	@include font-size(1.4);
	font-weight: 600;
}

.bypostauthor > .comment-body {
	background: $comment-by-author-bg-color;
	border: none;
	margin-bottom: 2em;
	padding: 1em;
	position: relative;
}


/* Comments responsive */
@media screen and (max-width:600px) {
	.comment-list ol {
		margin-left: 0;
	}
	.comment-content ol {
		margin-left: 1.5em;
	}
	.comment-content,
	.reply {
		margin-left: 0;
	}
}

.comment-reply-title {
	@include font-size(3);
	font-weight: 900;
	margin-bottom: .5em;
}

.comment-form {
	font-family: $comment-heading-font-family;
	@include font-size(1.6);
	padding-bottom: 4rem;
	textarea {
		font-family: $comment-textarea-font-family;
		font-size: 18px;
		font-size: 1.8rem;
	}
	label {
		display: block;
	}
}

.required { color: red; }