/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

.site-footer {
	background: $footer-bg-color;
	color: #fff;
	font-family: $heading-font-family;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 2em;
	aside a,
	.site-info a {
		color: #fff;
	}
}

.site-info { text-align: center; }