/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

.site-footer {
	background: $footer-bg-color;
	color: #fff;
	font-family: $heading-font-family;
	@include font-size(1.6);
	padding: 2em;
	aside a,
	.site-info a {
		color: #fff;
	}
}

.site-info { text-align: center; }