/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

.site-footer {
	background: #313131;
	color: #fff;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 2em;
	a {
		color: #fff;
	}
}

.site-info { text-align: center; }