/*--------------------------------------------------------------
Image Attachments
--------------------------------------------------------------*/

.attachment .entry-title { margin-top: .7em; }

.entry-attachment { margin-bottom: 3rem; }

.attachment-caption {
	@include font-size(1.4);
	font-family: $caption-font-family;
}


