/*--------------------------------------------------------------
Index and Archive
--------------------------------------------------------------*/

.taxonomy-description {
	border-bottom: 1px solid #e2e1e1;
	border-top: 1px solid #e2e1e1;
	font-family: $heading-font-family;
	font-style: italic;
	margin: 2rem 0;
	padding-top: 2rem;
}

.sticky-post {
	position: absolute;
	right: 3rem;
	top: 1rem;
}

.continue-reading {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 900;
	margin: 0 4rem;
	i {
		margin-left: .5em;
	}
}

.search-no-results .content-area,
.error404 .content-area { margin-top: 4rem; }