/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/

a {
	@include single-transition(all, 0.5s);
	color: #000;
	text-decoration: none;
	&:visited {
	    color: #333;
	}
	&:hover,
	&:focus,
	&:active {
	    text-decoration: underline;
	}
	&:hover {
	    color: #4c50aa;
	}
}