/*--------------------------------------------------------------
Media
-----------------------------------------------------------*/

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* Captions */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}
}

.wp-caption-text { text-align: center; }

.wp-caption .wp-caption-text {
	background: $caption-bg-color;
	font-family: $caption-font-family;
	@include font-size(1.4);
	padding: 0.8075em 1em;
}


/* Image Thumbnails */
.single-post-thumbnail {
	background: $site-main-bg-color url(svg/pattern.svg) repeat;
}

.front-index-thumbnail {
	margin-bottom: -3.2em;
	@media screen and (max-width: 779px) {
		margin-bottom: 0;
	}
}

.single-post-thumbnail img,
.front-index-thumbnail img {
    display: block;
    margin: 0 auto;
}

.has-thumbnail {
    position: relative;
}

.small-index-thumbnail {
	margin: -1em 0 1em 0;
}

.image-shifter {
	@media screen and (min-width: 1440px) and (max-width: 1819px) {
		float: right;
		width: 1060px;
	}
	@media screen and (min-width: 1540px) and (max-width: 1820px) {
		margin-right: 380px;
	}
	@media screen and (min-width: 1820px) {
		float: none;
		width: 1060px;
		margin: 0 auto;
	}
}