/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/

/* Typography */
$body-font-family: 'PT Serif', serif;
$header-font-family: 'Lato', Arial, sans-serif;

/* Colors */
$body-font-color: #535151;
$header-font-color: #3a3535;



