/*--------------------------------------------------------------
Widgets
--------------------------------------------------------------*/

.widget {
	font-family: $widget-font-family;
	@include font-size(1.6);
	margin: 0 0 4em;
	a {
		font-weight: 700;
		color: #000;
	}
	li {
		padding: 1em 0 0;
	}
        li li {
		margin-left: 1.5em;
	}
}

.widget li ul,
.widget li ol {
	margin-top: 0;
}

.widget-title {
	border-bottom: 2px solid #000;
	@include font-size(2.4);
	margin-bottom: 1em;
}

.widget ul,
.widget ol {
	list-style-type: none;
	margin: -1em 0 0;
	padding: 0;
}

.widget_recent_entries li:before,
.widget_recent_comments li:before,
.widget_archive li:before {
	display: block;
	float: left;
	font-family: 'fontawesome';
	@include font-size(1.4);
	margin-left: -2.5em;
	padding-top: 2px;
}

.widget_recent_entries li,
.widget_recent_comments li { margin: 0 0 .5em 2.5em; }

.widget_recent_entries li:before { content: "\f036"; }

.widget_recent_comments li:before { content: "\f075"; }

.widget_archive li { margin: 0 0 0 2.5em; }

.widget_archive li:before { content: "\f187"; }

.widget_nav_menu a,
.widget_pages a {
	border-bottom: solid 1px #e7e7e7;
	display: block;
	padding: 1em 0;
}

.widget_nav_menu li,
.widget_pages li { padding-top: 0; }

.widget_rss li { margin-bottom: .5em; }

.widget_rss .rss-date,
.widget_rss cite {
	display: block;
	font-size: 85%;
}

/* Make sure select elements fit in widgets */
.widget select { max-width: 100%; }

/* Search widget */
.widget_search .search-submit {	display: none; }

.footer-widgets {
	margin: 0 auto;
	@media screen and (max-width: 879px) {
		width: 100%!important;
	}
}

.footer-widgets .widget-title,
.footer-widgets .widget a:hover,
.footer-widgets .widget a:focus {
	color: #fff;
	border-color: #fff;
}

.footer-widgets .widget {
	float: left;
	width: 320px;
	margin: 0 4rem 8rem 4rem;
	@media screen and (max-width: 879px) {
		float: none;
		width: 100%;
		margin: 0 0 8rem;
    }
}
